.textareaInput {
  border-radius: 5px;
  border-color: #000000;
  border-style: solid;
  width: 75vw;
}

.sendButton {
  width: 23vw;
  background: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 50px);
  width: auto;
  height: 100vh;
  border-radius: 5px;
  background: aquamarine;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}

.chatWindow {
  grid-column: 1 / 4;
  grid-row: 2;
}

.chatInputWrapper{
  grid-column: 1 / 4;
  align-self: flex-end;
  white-space: nowrap;
}

.backButton {
  background: transparent;
  border: none;
}

